* {
  margin: 0;
  padding: 0;
  -webkit-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  -webkit-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
}

.hidden {
  display: none;
}

@-webkit-keyframes gifo_create_button {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  25% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  75% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-filter: opacity(50%);
            filter: opacity(50%);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
}

@keyframes gifo_create_button {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  25% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
  }
  75% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-filter: opacity(50%);
            filter: opacity(50%);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: opacity(0%);
            filter: opacity(0%);
  }
}

@-webkit-keyframes nav_links {
  from {
    border-color: olivedrab;
  }
  to {
    border-color: #5ED7C6;
  }
}

@keyframes nav_links {
  from {
    border-color: olivedrab;
  }
  to {
    border-color: #5ED7C6;
  }
}

.search_container {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_container .searchbar {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #9CAFC3;
  border: 1pt solid #572EE5;
  border-radius: 27px;
  padding: 0.75rem;
  padding-left: 3.38rem;
}

.search_container .searchbar:focus {
  color: 900;
  outline: none;
}

.search_container .searchIconPurple {
  position: absolute;
  right: 5%;
  top: 25%;
  width: 1.2em;
}

.search_container .searchIconPurple:hover {
  cursor: pointer;
}

.search_container .searchIconGray {
  position: absolute;
  left: 5%;
  top: 25%;
  -webkit-filter: brightness(4);
          filter: brightness(4);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  z-index: 8;
}

.search_container .searchIconGray:hover {
  cursor: pointer;
}

.search_container .searchClose {
  position: absolute;
  right: 5.25%;
  top: 35%;
}

@media screen and (max-width: 800px) {
  .search_container {
    width: 90%;
  }
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 4pt solid #572EE5;
  background-color: white;
}

body.darkMode .nav {
  border-top-color: 900;
  background-color: #37383C;
}

.nav_logo {
  margin-left: 9.75rem;
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_container_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav_container_items_item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.nav_container_items_item a {
  text-decoration: none;
  color: #572EE5;
  font-size: 13px;
}

body.darkMode .nav_container_items_item a {
  color: white;
}

.nav_container_items_item a:hover {
  -webkit-animation: nav_links 0.5s ease-in-out;
          animation: nav_links 0.5s ease-in-out;
  border-bottom: 1.5pt solid #5ED7C6;
}

.nav_container_items_item a:active {
  color: #9CAFC3;
}

.nav_container_burger {
  display: none;
}

.nav_container_button_container {
  margin-right: 9.75rem;
  position: relative;
  margin-left: 2rem;
}

.nav_container_button_container #BtnCrearGifo1 {
  z-index: 2;
}

.nav_container_button_container #BtnCrearGifo1:hover {
  -webkit-animation-name: gifo_create_button;
          animation-name: gifo_create_button;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  cursor: pointer;
}

.nav_container_button_container #BtnCrearGifo2 {
  position: absolute;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .nav_logo {
    margin-left: 1.38rem;
    padding-bottom: 1rem;
    width: 30px;
  }
  .nav_container_items {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 4rem;
    width: 100%;
    height: 1000%;
    z-index: 10;
    background-color: #572EE5;
    opacity: 90%;
  }
  .nav_container_items li {
    padding-top: 1.38rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav_container_items li a {
    color: white;
    font-size: 15px;
    border-bottom: white;
  }
  .nav_container_button_container {
    display: none;
  }
  .nav_container_burger {
    display: block;
    margin-right: 1.38rem;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #572EE5;
  text-align: center;
  width: 40%;
}

.hero_h1_span {
  color: #5ED7C6;
}

body.darkMode .hero_h1 {
  color: white;
}

.hero_img {
  margin-top: 1.5rem;
}

.hero_h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #572EE5;
  text-align: center;
  margin-top: 6rem;
}

.hero_trending_tags {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  margin-top: 0.5rem;
}

.hero_trending_tags:hover {
  cursor: pointer;
  -webkit-filter: brightness(2);
          filter: brightness(2);
  border-bottom: 1pt solid #572EE5;
}

@media screen and (max-width: 800px) {
  .hero {
    margin-left: 0;
    margin-right: 0;
    margin-top: 4.75rem;
    width: 100%;
  }
  .hero_h1 {
    font-size: 25px;
    width: 75%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hero_img {
    width: 75%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
