//!ANIMATIONS
//*CREATE GIFO
@keyframes gifo_create_button {
  0% {
    transform: rotate(0deg);
    filter: opacity(100%);
  }
  25% {
    transform: rotate(-90deg);
    filter: opacity(100%);
  }
  50% {
    transform: rotate(90deg);
    filter: opacity(100%);
  }
  75% {
    transform: rotate(90deg);
    filter: opacity(50%);
  }
  100% {
    transform: rotate(0deg);
    filter: opacity(0%);
  }
}

//*NAVLINKS
@keyframes nav_links {
  from {
    border-color: olivedrab;
  }
  to {
    border-color: $Cyan;
  }
}

//!SEARCHBAR
.search_container {
  align-self: center;
  position: relative;
  width: 34rem;
  display: flex;

  .searchbar {
    width: 100%;
    //FONT
    font-family: $Roboto;
    font-size: 16px;
    color: $SemiLightGray;
    //BORDER
    border: 1pt solid $Purple;
    border-radius: 27px;
    padding: 0.75rem;
    padding-left: 3.38rem;

    body.darkMode & {
      border-color: $SemiLightGray;
      background-color: $Gray;
    }

    //FOCUS
    &:focus {
      color: $Black;
      outline: none;
    }
  }
  //MAGNIFIER ICONS
  .searchIconPurple {
    position: absolute;
    right: 5%;
    top: 25%;
    width: 1.2em;
    &:hover {
      cursor: pointer;
    }
  }
  .searchIconGray {
    position: absolute;
    left: 5%;
    top: 25%;
    filter: brightness(4);
    filter: grayscale(1);
    z-index: 8;
    &:hover {
      cursor: pointer;
    }
  }

  .searchClose {
    position: absolute;
    right: 5.25%;
    top: 35%;
  }
}

.nav_search_container {
  align-self: center;
  position: relative;
  width: 20rem;
  display: flex;

  .NAVsearchbar {
    width: 100%;
    //FONT
    font-family: $Roboto;
    font-size: 16px;
    color: $SemiLightGray;
    //BORDER
    border: 1pt solid $Purple;
    border-radius: 27px;
    padding: 0.75rem;
    padding-left: 3.38rem;

    body.darkMode & {
      border-color: $SemiLightGray;
      background-color: $Gray;
    }

    //FOCUS
    &:focus {
      color: $Black;
      outline: none;
    }
  }
  //MAGNIFIER ICONS
  .NAVsearchIconPurple {
    position: absolute;
    right: 5%;
    top: 25%;
    width: 1.2em;
    &:hover {
      cursor: pointer;
    }
  }
  .NAVsearchIconGray {
    position: absolute;
    left: 5%;
    top: 25%;
    filter: brightness(4);
    filter: grayscale(1);
    z-index: 8;
    &:hover {
      cursor: pointer;
    }
  }

  .NAVsearchClose {
    position: absolute;
    right: 5.25%;
    top: 35%;
  }
}


//!GIFO & HOVER
.gifo {
  position: relative;
  img {
    width: 22rem;
    height: 17rem;
  }

  //HOVER
  .gifoHover {
    width: 22rem;
    height: 17rem;
    position: absolute;
    top: 0;

    z-index: 8;
    background-color: $PurpleDimmed;
    cursor: pointer;
    //BOTH AUTHOR AND TITLE
    p {
      position: absolute;
      left: 1rem;
    }
    //GIFO's AUTHOR
    .gifo_user {
      font-family: $Roboto;
      font-weight: $Regular;
      font-size: 15px;
      color: $White;
      bottom: 4rem;
    }
    //GIFO's TITLE
    .gifo_title {
      font-family: $Roboto;
      font-weight: $Bold;
      font-size: 16px;
      color: $White;
      bottom: 2rem;
      max-height: 1em;
      line-height: 1.2em;
    }
    //GIFO's ACTION BUTTONS
    .gifo_buttonbar {
      position: absolute;
      right: 0;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      //INDIVIDUAL BUTTONS
      img {
        width: 4rem;
        height: 4rem;
        margin-right: 0.2rem;
        margin-left: 0.2rem;
        &:hover {
          cursor: grab;
        }
      }
    }
  }
}

@media screen and (max-width: $Query) {
  .search_container {
    width: 90%;
  }

  .gifo {
    img {
      width: 15rem;
      height: 11rem;
    }
    .gifoHover {
      display: none;
    }
  }
}

//!HIDDEN CLASS
.hidden {
  display: none;
}