.footer{
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4pt solid $Purple;

    //SHARING BUTTONS
    &_share{
        display: flex;
        justify-content: space-evenly;
        margin-left: $MarginGeneral;
        
        //TEXT
        p{
            font-family: $Roboto;
            font-weight: $Regular;
            font-size: 13px;
        }
        
        //BUTTONS
        &_buttons{
            margin-left: 0.75em;
            margin-right: 0.75em;
            width: fit-content;
            img{
                margin-left: 1em;
                width: fit-content;
            }
            &:hover{
                cursor: pointer;
            }
        }

    }

    //COPYRIGHT NOTICE
    &_copyright{
        margin-right: $MarginGeneral;
        font-family: $Roboto;
        font-weight: $Regular;
        font-size: 13px;
    }
}

//MEDIA QUERY
@media screen and (max-width: 800px) {
    .footer{
        height: fit-content;
        flex-direction: column;
        align-items: center;
        &_share{
            flex-direction: column;
            margin: 0;
            margin-top: 1em;

            p{
                align-self: center;
                font-size: 15px;
            }
            div{
                display: flex;
            }
            
            &_buttons{
                margin-top: 1em;
                margin-left: 0;      
            }

           
        }
        &_copyright{
            margin: 0;
            margin-top: 3em;
            margin-bottom: 1em;
        }
    }
}