.hero {
  //*HEADING
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  align-items: center;
  
  &_h1 {
    font-family: $Montserrat;
    font-size: 35px;
    color: $Purple;
    text-align: center;
    width: 40%;
    &_span {
      color: $Cyan;
    }
    //!DARK MODE
    body.darkMode & {
      color: white;
    }
  }
  &_img {
    margin-top: 1.5rem;
  }
  //*TRENDING TAGS
  &_h3 {
    font-family: $Montserrat;
    font-weight: $Bold;
    font-size: 18px;
    color: $Purple;
    text-align: center;
    margin-top: 6rem;
    //!DARK MODE
    body.darkMode & {
      color: white;
    }
  }

  &_trending_tags {
    font-family: $Montserrat;
    font-weight: $Medium;
    font-size: 16px;
    color: $Purple;
    text-align: center;
    margin-top: 0.5rem;
    //!DARK MODE
    body.darkMode & {
      color: white;
    }
    span {
      text-transform: capitalize;
      line-height: 2em;
      &::after {
        content: ",  ";
        white-space: pre;
      }
      &:hover {
        cursor: pointer;
        filter: brightness(2);
        border-bottom: 1pt solid $Purple;
        //!DARK MODE
        body.darkMode & {
          border-bottom-color: white;
        }
      }
    }
  }
}

@media screen and (max-width: $Query) {
  .hero {
    margin-left: 0;
    margin-right: 0;
    margin-top: 8.75rem;
    width: 100%;
    &_h1 {
      font-size: 25px;
      width: 75%;
      align-self: center;
    }
    &_trending_tags{
      font-size: 15px;
    }
    &_img {
      width: 75%;
      align-self: center;
    }
  }
}
