.max {
  margin: 0 auto;
  background-color: red;
  width: 50vw;
  height: fit-content;
  z-index: 8;
  background-color: $White;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .closez{
   padding: 1em;
   
  }

  .gifo {
    width: 44rem;
    height: 28rem;
  }
  .bottomz {
    display: flex;
    width: 44rem;
    margin-top: 1em;
    .dataz {
      display: flex;
      flex-direction: column;
      justify-self: left;
      .username {
        font-size: 15px;
        font-family: $Roboto;
      }
      .title {
        font-size: 16px;
        font-family: $Roboto;
        font-weight: $Bold;
      }
    }
    .buttonz{
        display: flex;
        justify-self: flex-end;
    }
  }
}
