.max{
    width: 100vw;
    height: 50vh;
    z-index: 8;
    background-color: $White;

   
    display: flex;
    flex-direction: column;
    align-items: center;

    .gifo{
        width: 44rem;
        height: 28rem;
    }
}