.max {
  margin: 0 auto;
  width: 50vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  .close-container {
    display: flex;
    flex-direction: row;
    width: 52rem;
    align-items: flex-end;
    justify-content: flex-end;
    .closez {
      padding: 1em;
      border: 1pt solid $Purple;
      border-radius: 27px;
      &:hover {
        background-color: $SemiLightGray;
      }
    }
  }
  .gifo {
    width: 22rem * 2;
    height: 28rem;
  }
  .bottomz {
    display: flex;
    justify-content: space-between;
    width: 44rem;
    margin-top: 1em;
    .dataz {
      display: flex;
      flex-direction: column;
      justify-self: left;
      .username {
        font-size: 15px;
        font-family: $Roboto;
      }
      .title {
        font-size: 16px;
        font-family: $Roboto;
        font-weight: $Bold;
      }
    }
    .buttonz {
      display: flex;
      width: 5rem;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: $Query){
  .max{
    width: 100vw;
    height: 75vh;
    .close-container{
      width: 90vw;
    }
    .gifo{
      margin-top: 2.5rem;
      width: 90vw;
      height: 40vh;
    }
    .bottomz{
      width: 90vw;
    }
  }
}