.search_results {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  hr {
    color: $Gray;
    width: 12rem;
    margin-top: 3.5rem;
  }
  h3 {
    font-family: $Montserrat;
    font-weight: $Bold;
    font-size: 35px;
    color: $Purple;
    justify-self: center;
    text-align: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 3.5rem;
    text-transform: capitalize;
  }

  .noresult{
    font-weight: $Bold;
    color: $Cyan;
    font-size: 22px;
    text-transform: none;
  }
  .gifo {
    width: fit-content;
    padding: 0.75em;
    .gifoHover {
      top: 0.8em;
      left: 0.75em;
    }
  }
}



.verMAS{
  font-family: $Montserrat;
  font-weight: $Bold;
  font-size: 13px;
  color: $Purple;
  background-color: $White;
  border: 1pt solid $Purple;
  border-radius: 27px;
  padding: 0.75rem;
  position: absolute;
  bottom: -4rem;
  transition: none;
  &:hover{
    color: $White;
    background-color: $Purple;
    cursor: pointer;
  }
}

@media screen and (max-width: $Query) {
  .search_results {
    align-items: center;
    width: 100vw;
    h3{
      font-size: 25px;
    }
    .noresult{
      font-size: 18px;
    }
    .gifo {
      img {
        width: 9rem;
        height: 6.5rem;
      }
    }
  }
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
  .search_results{
      width: 100vw;
     
      .gifo {
        img {
          width: 16rem;
          height: 11rem;
        }
        .gifoHover{
            width: 16rem;
            height: 11rem;
        }
      }
  }
}
