//TRENDING SECTION
.trending_gifos {
  background-color: $LightGray;
  margin-top: 6rem;
  padding-top: 4rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  //HEADER
  &_h2 {
    font-family: $Montserrat;
    font-weight: $Bold;
    font-size: 25px;
    color: $Purple;
  }

  &_p {
    font-family: $Roboto;
    font-weight: $Regular;
    font-size: 18px;
    margin-top: 0.75rem;
  }

  //GIFOS DISPLAY
  &_arrow_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    &_button {
      height: fit-content;
      &:hover {
        cursor: pointer;
      }
    }

    &_item {
      margin-right: 1em;
      margin-left: 1em;
    }
  }
  &_gifos_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  //MEDIA QUERY
  @media screen and (max-width: $Query) {
    .trending_gifos {
      &_h2 {
        font-size: 20px;
      }

      &_p {
        font-size: 16px;
        width: 75%;
        text-align: center;
      }
      &_arrow_container{
        overflow-x: scroll;
        width: 100vw;
        justify-content: flex-start;
        #left_arrow{
          display: none;
        }
      }
     
    
    }
  }
}
