//!VARIABLES
//*COLORS
$Purple: #572EE5;
$PurpleDimmed: #562ee5b2;
$Cyan: #5ED7C6;
$LightGray: #F3F5F8;
$White: white;
$DarkWhite: #CDD6E0;
$Gray: #37383C;
$SemiLightGray: #9CAFC3;
$DarkGray: #222326;
$Black: black;

//*FONTS
$Roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
//*FONT WEIGHTS
$Bold: 700;
$Medium: 500;
$Black: 900;
$Regular: 400;

//*DISTANCES
$MarginGeneral: 9.75rem;
$MarginGeneralMobile: 1.38rem;

//*MEDIA QUERY
$Query: 800px;